#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Driver Frameworks Ramdisk Driver"
#define VER_INTERNALNAME_STR        "ramdisk.sys"
#define VER_ORIGINALFILENAME_STR    "ramdisk.sys"

#include "common.ver"
