#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Control Device Object Sample Mini-Filter"
#define VER_INTERNALNAME_STR        "cdo.sys"

#include "common.ver"
