#include <ntverp.h>
#include <winver.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Sample Radio Manager"
#define VER_INTERNALNAME_STR            "SampleRM.dll"

#include <common.ver>

