//
// Copyright (c) 1990-2003 Microsoft Corporation
// All Rights Reserved
//


#include "windows.h"
#include "compstui.h"
#include "cpsuisam.h"




IDI_APPLE           ICON    PRELOAD     icons\Apple.ico
IDI_CPSUISAMPLE     ICON    PRELOAD     icons\cpsuisam.ico



CPSUISampleMenu MENU
BEGIN
    POPUP        "&Test Options"
    BEGIN
        MENUITEM "&Default Printer Properties",         IDM_DOCPROP
        MENUITEM "CPSUI &TreeView Test",                IDM_TVTEST

        MENUITEM SEPARATOR

        MENUITEM "&CPSUI Test All",                     IDM_DOCPROP_TVTEST

        MENUITEM SEPARATOR

        MENUITEM "&Permission",                         IDM_PERMISSION
        MENUITEM "&Use Standard About"                  IDM_USESTDABOUT


    END
END


#include "cpsuisam.dlg"


#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Common Property Sheet UI Sample Applet"
#define VER_INTERNALNAME_STR        "cpsuisam.exe"
#define VER_ORIGINALFILENAME_STR    "cpsuisam.exe"

#include "common.ver"
