//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1999 - 1999
//
//  File:       captst.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "AVStream Simulated Hardware Sample"
#define VER_INTERNALNAME_STR        "avshws.sys"
#define VER_ORIGINALFILENAME_STR    "avshws.sys"

#include "common.ver"

