# GitHub configuration
/.github/ @microsoft/driver-samples-maintainers

# Code Scanning workflow
/.github/workflows/Code-Scanning.yml @microsoft/driver-samples-maintainers

# Root files
/* @microsoft/driver-samples-maintainers
