#include "resource.h"
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE             VFT_DLL
#define VER_FILESUBTYPE          VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR  "Windows Portable Device Hello World Sample Driver"
#define VER_INTERNALNAME_STR     "WpdHelloWorldDriver.dll"

#include <common.ver>

1 TYPELIB "WpdHelloWorldDriver.tlb"

IDR_WpdHelloWorldDriver REGISTRY "WpdHelloWorldDriver.rgs"

