#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Print Pipeline WDK Filter Sample"
#define VER_INTERNALNAME_STR        "WdkPipelineFilter.dll"
#define VER_ORIGINALFILENAME_STR    "WdkPipelineFilter.dll"

#include "common.ver"
