#include "verrsrc.h"
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "HAL Extension Sample - Timers 2"
#define VER_INTERNALNAME_STR        "HalExtSampleTimers2.DLL"
#define VER_ORIGINALFILENAME_STR    "HalExtSampleTimers2.DLL"

#include <common.ver>
