#include <verrsrc.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Simulate Power Limit Policy Driver"
#define VER_INTERNALNAME_STR        "plpolicy.sys"
#define VER_ORIGINALFILENAME_STR    "plpolicy.sys"

#include "common.ver"
