#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "WDF Toaster Device Driver"
#define VER_INTERNALNAME_STR        "wdftoaster.sys"
#define VER_ORIGINALFILENAME_STR    "wdftoaster.sys"

#include "common.ver"

ToasterWMI MOFDATA toaster.bmf


