#include "resource.h"
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE             VFT_DLL
#define VER_FILESUBTYPE          VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR  "Windows Portable Device Basic Hardware Driver"
#define VER_INTERNALNAME_STR     "WpdBasicHardwareDriver.dll"

#include <common.ver>

1 TYPELIB "WpdBasicHardwareDriver.tlb"

IDR_WpdTempSensorDriver REGISTRY "WpdBasicHardwareDriver.rgs"

