//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1999 - 1999
//
//  File:       addfilter.rc
//
//--------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft add/remove filter drivers sample utility"

#define VER_INTERNALNAME_STR        "addfilter.exe"
#define VER_ORIGINALFILENAME_STR    "addfilter.exe"

#include <common.ver>
