#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "UMDF Indirect Display Driver Sample"
#define VER_INTERNALNAME_STR        "IddSampleDriver"
#define VER_ORIGINALFILENAME_STR    "IddSampleDriver.dll"

#include "common.ver"
