#if 0
Copyright (c) Microsoft Corporation. All Rights Reserved
#endif

#include "resource.h"
#include "winres.h"
#include <ntverp.h>
#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Swap APO"
#define VER_INTERNALNAME_STR            "SWAPAPODll"
#define VER_ORIGINALFILENAME_STR        "SwapAPODll.Dll"
#include <Common.ver>

IDR_SWAPAPODLL          REGISTRY                "SwapAPODll.rgs"
IDR_SWAPAPOMFX          REGISTRY                "SwapAPOMFX.rgs"
IDR_SWAPAPOSFX          REGISTRY                "SwapAPOSFX.rgs"

// ICON
IDI_EFFECT_ICON			RCDATA					"SwapApo.png"

#if 0
1                       TYPELIB                 "SwapAPODll.tlb"
#endif
