#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Metadata Management File System Filter Driver Sample"
#define VER_INTERNALNAME_STR        "FMM.sys"

#include "common.ver"
