//
//    Copyright (C) Microsoft.  All rights reserved.
//
#include "windows.h"
#include "ntverp.h"

/*-----------------------------------------------*/
/* the following lines are specific to this file */
/*-----------------------------------------------*/

#define VER_FILETYPE                    VFT_DRV

#define VER_FILESUBTYPE                 VFT2_DRV_NETWORK

#define VER_FILEDESCRIPTION_STR         "Windows Mobile Broadband Class Driver"

#define VER_INTERNALNAME_STR            "cxwmbclass.sys"
#define VER_ORIGINALFILENAME_STR        "cxwmbclass.sys"

#include "common.ver"
