//
//    Copyright (C) Microsoft.  All rights reserved.
//
#include <windows.h>
#include <ntverp.h>
#include "wmbclassEvents.rc"

/*-----------------------------------------------*/
/* the following lines are specific to this file */
/*-----------------------------------------------*/

#define	VER_FILETYPE                    VFT_DRV

#define	VER_FILESUBTYPE                 VFT2_DRV_NETWORK

#define VER_FILEDESCRIPTION_STR         "Windows Mobile Broadband Class NDIS Miniport"

#define VER_INTERNALNAME_STR            "wmbclass.sys"
#define VER_ORIGINALFILENAME_STR        "wmbclass.sys"

#include "common.ver"
