//
//    Copyright (C) Microsoft.  All rights reserved.
//
#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "UFX Client Sample Driver"
#define VER_INTERNALNAME_STR        "ufxclientsample.sys"
#define VER_ORIGINALFILENAME_STR    "ufxclientsample.sys"

#include "common.ver"
