//
// Copyright (c) 2005 Microsoft Corporation
//
// All rights reserved.
//
// THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF
// ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO
// THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A
// PARTICULAR PURPOSE.
//
// File Name:
//
//   xdsmpldlg.rc
//
// Abstract:
//
//   XPSDrv sample driver UI plug-in resource file.
//
//

#include "winres.h"
#include "resource.h"
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "XPSDrv Sample UI Plug-In"
#define VER_INTERNALNAME_STR        "PrintFeatureFilters"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////

#include "common.ver"


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#include ""winres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_COL_MANAGE DIALOGEX 0, 0, 296, 200
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LISTBOX         IDC_LIST_COLPROF,21,63,252,82,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Select color profile",IDC_TEXT_COLPROF,22,51,89,8
    GROUPBOX        "",IDC_GRP_COLPROF,4,4,288,192
    COMBOBOX        IDC_COMBO_COL_MANAGE,137,28,135,88,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Select Color Management Method",IDC_TXT_COL_MANAGE,24,31,108,8
    LTEXT           "Select ICM Rendering Intent",IDC_TXT_COL_INTENT,24,164,92,8
    COMBOBOX        IDC_COMBO_COL_INTENT,137,162,135,88,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_WATERMARK DIALOGEX 0, 0, 296, 200
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    COMBOBOX        IDC_COMBO_WMTYPE,14,32,107,88,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Watermark Type",IDC_TXT_WMTYPE,14,21,65,8
    COMBOBOX        IDC_COMBO_WMLAYERING,14,66,75,88,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Layering",IDC_TXT_WMLAYERING,14,55,65,8
    GROUPBOX        "Settings",IDC_GRP_WM,4,4,284,192
    EDITTEXT        IDC_EDIT_WMTEXT,14,131,107,14, ES_AUTOHSCROLL
    LTEXT           "Text",IDC_TXT_WMTEXT,14,120,65,8
    EDITTEXT        IDC_EDIT_WMTRANSPARENCY,236,65,33,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_WMTRANSPARENCY,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,260,65,11,14
    EDITTEXT        IDC_EDIT_WMANGLE,133,66,33,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_WMANGLE,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,157,66,11,14
    EDITTEXT        IDC_EDIT_WMOFFX,70,96,50,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_WMOFFX,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,109,96,11,14
    EDITTEXT        IDC_EDIT_WMOFFY,190,96,50,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_WMOFFY,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,229,96,11,14
    LTEXT           "Transparency",IDC_TXT_WMTRANSPARENCY,186,68,45,8
    LTEXT           "Angle",IDC_TXT_WMANGLE,104,68,23,8
    LTEXT           "Offset X .01""",IDC_TXT_WMOFFX,17,99,43,8
    LTEXT           "Offset Y .01""",IDC_TXT_WMOFFY,140,98,43,8
    EDITTEXT        IDC_EDIT_WMWIDTH,70,125,50,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_WMWIDTH,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,108,125,11,14
    EDITTEXT        IDC_EDIT_WMHEIGHT,190,125,50,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_WMHEIGHT,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,229,125,11,14
    LTEXT           "Width .01""",IDC_TXT_WMWIDTH,17,128,51,8
    LTEXT           "Height .01""",IDC_TXT_WMHEIGHT,140,127,37,8
    EDITTEXT        IDC_EDIT_WMSIZE,129,163,33,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_WMSIZE,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,158,163,11,14
    LTEXT           "Size",IDC_TXT_WMSIZE,104,166,18,8
    PUSHBUTTON      "Color",IDC_BUTTON_WMCOLOR,27,163,50,14
END

IDD_FEATURES DIALOGEX 0, 0, 296, 200
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_CHILD | WS_DISABLED
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    GROUPBOX        "Page Scaling",IDC_GRP_PGSCALE,4,2,285,56
    GROUPBOX        "Document Multi-Up",IDC_GRP_DOCNUP,4,61,285,45
    COMBOBOX        IDC_COMBO_PGSCALE,11,28,88,88,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Scaling Option",IDC_TXT_PGSCALE,11,18,46,8
    COMBOBOX        IDC_COMBO_SCALEOFF,144,28,114,88,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Scale Offset Alignment",IDC_TXT_SCALEOFF,144,17,88,8
    EDITTEXT        IDC_EDIT_PGSCALEX,138,14,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_PGSCALEX,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,168,14,10,14
    EDITTEXT        IDC_EDIT_PGOFFX,234,14,50,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_PGOFFX,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,273,14,10,14
    EDITTEXT        IDC_EDIT_PGSCALEY,138,38,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_PGSCALEY,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,168,38,10,14
    EDITTEXT        IDC_EDIT_PGOFFY,234,38,50,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_PGOFFY,"msctls_updown32",UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,273,38,10,14
    LTEXT           "Scale X",IDC_TXT_PGSCALEX,108,18,25,8
    LTEXT           "Scale Y",IDC_TXT_PGSCALEY,108,40,25,8
    LTEXT           "Offset X .01""",IDC_TXT_PGOFFX,187,17,42,8
    LTEXT           "Offset Y .01""",IDC_TXT_PGOFFY,187,40,42,8
    COMBOBOX        IDC_COMBO_NUP,11,81,114,88,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_NUP_ORDER,155,81,114,88,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Number Up",IDC_TXT_NUP,11,70,36,8
    LTEXT           "Presentation Order",IDC_TXT_NUP_ORDER,155,70,88,8
    COMBOBOX        IDC_COMBO_PHOTO_INTENT,93,176,83,88,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Page Photo Printing Intent",IDC_TXT_PHOTO_INTENT,93,165,86,8
    CONTROL         "Enable Borderless Pages",IDC_CHECK_BORDERLESS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,187,177,94,10
    COMBOBOX        IDC_COMBO_DOCDUPLEX,11,176,68,88,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Duplex Option",IDC_TXT_DOCDUPLEX,11,165,46,8
    GROUPBOX        "Other",IDC_STATIC,4,157,285,38
    LTEXT           "Job Binding (all documents)",IDC_TXT_JOBBIND,11,118,100,8
    COMBOBOX        IDC_COMBO_JOBBIND,11,129,115,88,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Binding Option",IDC_STATIC,4,109,285,45
    LTEXT           "Document Binding",IDC_TXT_DOCBIND,155,118,100,8
    COMBOBOX        IDC_COMBO_DOCBIND,155,129,114,88,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_COLMAN              "Color Management"
    IDS_WMARK               "Watermarks"
    IDS_FEATURE             "Features"
END

STRINGTABLE
BEGIN
    IDS_GPD_1PPS            "1 Page per Sheet"
    IDS_GPD_2PPS            "2 Page per Sheet"
    IDS_GPD_4PPS            "4 Page per Sheet"
    IDS_GPD_6PPS            "6 Page per Sheet"
    IDS_GPD_8PPS            "8 Page per Sheet"
    IDS_GPD_9PPS            "9 Page per Sheet"
    IDS_GPD_16PPS           "16 Page per Sheet"
    IDS_GPD_RES1200         "1200 x 1200 dpi"
    IDS_GPD_RES600          "600 x 600 dpi"
    IDS_GPD_AUTOMATIC       "Automatic"
    IDS_GPD_BORDERED        "Bordered"
    IDS_GPD_BORDERLESS      "Borderless"
    IDS_GPD_BTOT            "Bottom to Top"
    IDS_GPD_BTOTLTOR        "Bottom to Top, Left to Right"
    IDS_GPD_BTOTRTOL        "Bottom to Top, Right to Left"
    IDS_GPD_CMYK            "CMYK"
END

STRINGTABLE
BEGIN
    IDS_GPD_COLOR           "Color"
    IDS_GPD_CONFIDENTIAL    "Confidential"
    IDS_GPD_CUSTSQUARE      "Custom Square"
    IDS_GPD_CUSTOM          "Custom"
    IDS_GPD_SRCCOLPROF      "Source Color Profile"
    IDS_GPD_DEVICE          "Device"
    IDS_GPD_DOCBIND         "Document Binding"
    IDS_GPD_PAGECOLMAN      "Page Color Management"
    IDS_GPD_PAGEPHOTINTENT  "Page Photo Printing Intent"
    IDS_GPD_DOCDUPLEX       "Document Duplex"
    IDS_GPD_DOCNUP          "Document NUp"
    IDS_GPD_DOCNUPPRESENTORDER "Document NUp Presentation Order"
    IDS_GPD_DRAFT           "Draft"
    IDS_GPD_DRIVER          "Driver"
    IDS_GPD_DUPLEX          "Duplex"
    IDS_GPD_FAX             "Fax"
END

STRINGTABLE
BEGIN
    IDS_GPD_FITBLEED        "Fit Bleed Size"
    IDS_GPD_FITCONTENT      "Fit Content Size"
    IDS_GPD_FITPAGE         "Fit Page Size"
    IDS_GPD_GLOSSY          "Glossy"
    IDS_GPD_GRAYSCALE       "Grayscale"
    IDS_GPD_HIGH            "High"
    IDS_GPD_HORIZONTAL      "Horizontal"
    IDS_GPD_JOBBINDING      "Job Binding (all documents)"
    IDS_GPD_JOBNUPPRESENTORDER "Job NUp Presentation Order"
    IDS_GPD_JOBNUP          "Job NUp (contigously)"
    IDS_GPD_JOBPAGEORDER    "Job Page Order"
    IDS_GPD_LANDSCAPE       "Landscape"
    IDS_GPD_LTOR            "Left to Right"
    IDS_GPD_LTORBTOT        "Left to Right, Bottom to Top"
    IDS_GPD_LTORTTOB        "Left to Right, Top to Bottom"
    IDS_GPD_MEDIATYPE       "Media Type"
END

STRINGTABLE
BEGIN
    IDS_GPD_MONO            "Mono"
    IDS_GPD_NONE            "None"
    IDS_GPD_NORMAL          "Normal"
    IDS_GPD_OFF             "Off"
    IDS_GPD_ON              "On"
    IDS_GPD_ORIENATION      "Orientation"
    IDS_GPD_OVERLAYED       "Overlaid"
    IDS_GPD_PAGEBORDER      "Page Border"
    IDS_GPD_PAGEQUALITY     "Page Output Quality"
    IDS_GPD_PAGESCALING     "Page Scaling"
    IDS_GPD_PAPERSOURCE     "Paper Source"
    IDS_GPD_PHOTOGRAPHIC    "Photographic"
    IDS_GPD_PORTRAIT        "Portrait"
    IDS_GPD_RASTERIMAGE     "Raster Image"
    IDS_GPD_RESOLUTION      "Resolution"
    IDS_GPD_REVERSELANDSCAPE "Reverse Landscape"
END

STRINGTABLE
BEGIN
    IDS_GPD_REVERSE         "Reverse"
    IDS_GPD_RTOL            "Right to Left"
    IDS_GPD_RTOLBTOT        "Right to Left, Bottom to Top"
    IDS_GPD_RTOLTTOB        "Right to Left, Top to Bottom"
    IDS_GPD_SCALEPAGETOPAGE "Scale Page to Page"
    IDS_GPD_SCRGB           "scRGB"
    IDS_GPD_STANDARD        "Standard"
    IDS_GPD_TEXT            "Text"
    IDS_GPD_TTOB            "Top to Bottom"
    IDS_GPD_TTOBLTOR        "Top to Bottom, Left to Right"
    IDS_GPD_TTOBRTOL        "Top to Bottom, Right to Left"
    IDS_GPD_TRANSPARENCY    "Transparency"
    IDS_GPD_TRANSPARENT     "Transparent"
    IDS_GPD_UNDERLAYED      "Underlayed"
    IDS_GPD_UPPER           "Upper"
    IDS_GPD_VECTORIMAGE     "Vector Image"
END

STRINGTABLE
BEGIN
    IDS_GPD_VERTICAL           "Vertical"
    IDS_GPD_WATERMARKLAYERING  "Watermark Layering"
    IDS_GPD_WATERMARKTEXT      "Watermark Text"
    IDS_GPD_WATERMARKTYPE      "Watermark Type"
    IDS_GPD_BEST               "Best"
    IDS_GPD_PAGEICMINTENT      "Page ICM Rendering Intent"
    IDS_GPD_ABSCOLINTENT       "Absolute Colorimetric"
    IDS_GPD_RELCOLINTENT       "Relative Colorimetric"
    IDS_GPD_PHOTOINTENT        "Photographs"
    IDS_GPD_BIZINTENT          "Business Graphics"
    IDS_GPD_SYSTEM             "System"
    IDS_GPD_WATERMARKTEXTCOLOR "Watermark Text Color"
    IDS_GPD_RED                "Red"
    IDS_GPD_GREEN              "Green"
    IDS_GPD_BLUE               "Blue"
    IDS_GPD_MAGENTA            "Magenta"
    IDS_GPD_CYAN               "Cyan"
    IDS_GPD_YELLOW             "Yellow"
    IDS_GPD_BLACK              "Black"
END

STRINGTABLE
BEGIN
    IDS_GPD_SCALE_ALIGN        "Scale Offset Alignment"
    IDS_GPD_SCALE_ALIGN_BC     "Bottom Centre"
    IDS_GPD_SCALE_ALIGN_BL     "Bottom Left"
    IDS_GPD_SCALE_ALIGN_BR     "Bottom Right"
    IDS_GPD_SCALE_ALIGN_CC     "Centre"
    IDS_GPD_SCALE_ALIGN_LC     "Centre Left"
    IDS_GPD_SCALE_ALIGN_CR     "Centre Right"
    IDS_GPD_SCALE_ALIGN_CT     "Centre Top"
    IDS_GPD_SCALE_ALIGN_TL     "Top Left"
    IDS_GPD_SCALE_ALIGN_TR     "Top Right"
END

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

