#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Pass-through HID to KMDF Filter Driver"
#define VER_INTERNALNAME_STR        "HIDKMDF.SYS"
#define VER_ORIGINALFILENAME_STR    "HIDKMDF.SYS"

#include "common.ver"
