#include "verrsrc.h"
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "HAL Extension Sample - DMA"
#define VER_INTERNALNAME_STR        "HalExtSampleDma.DLL"
#define VER_ORIGINALFILENAME_STR    "HalExtSampleDma.DLL"

#include <common.ver>
