#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Scanner control program"
#define VER_INTERNALNAME_STR        "scanuser.exe"
#define VER_ORIGINALFILENAME_STR    "scanuser.exe"

#include "common.ver"
