/*++

Copyright (c) 2011 Microsoft Corporation

Module Name:

    SampleDisplay.rc

Abstract:

    This modules contains the version information for the Sample Display Driver

Environment:

    Kernel mode only

--*/

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "Microsoft Sample Display Driver"
#define VER_INTERNALNAME_STR        "SampleDisplay.sys"
#define VER_ORIGINALFILENAME_STR    "SampleDisplay.sys"

#define VER_LANGNEUTRAL
#include "common.ver"
