#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "AvScan User Program"
#define VER_INTERNALNAME_STR        "avscan.exe"
#define VER_ORIGINALFILENAME_STR    "avscan.exe"


