// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE             VFT_DLL
#define VER_FILESUBTYPE          VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR  "Windows Portable Device Sample Driver using WUDF"
#define VER_INTERNALNAME_STR     "WpdWudfSampleDriver.dll"

#include <common.ver>

IDR_WPD_SAMPLEDRIVER_IMAGE                  DATA_FILE "SampleImage.jpg"
IDR_WPD_SAMPLEDRIVER_IMAGE_THUMBNAIL        DATA_FILE "SampleImageThumbnail.jpg"
IDR_WPD_SAMPLEDRIVER_MUSIC                  DATA_FILE "SampleMusic.wma"
IDR_WPD_SAMPLEDRIVER_DEVICE_ICON            DATA_FILE "SampleDeviceIcon.ico"
IDR_WPD_SAMPLEDRIVER_AUDIO_ANNOTATION       DATA_FILE "SampleAudioAnnotation.wav"
IDR_WPD_SAMPLEDRIVER_VIDEO                  DATA_FILE "SampleVideo.wmv"
IDR_WPD_SAMPLEDRIVER_CONTACT_PHOTO          DATA_FILE "SampleContactPhoto.png"
IDR_WPD_SAMPLEDRIVER_INTERNAL_STORAGE_ICON  DATA_FILE "SampleInternalStorageIcon.ico"
IDR_WPD_SAMPLEDRIVER_EXTERNAL_STORAGE_ICON  DATA_FILE "SampleExternalStorageIcon.ico"
IDR_WPD_SAMPLEDRIVER_MEMO                   DATA_FILE "SampleMemo.txt"
IDR_WPD_SAMPLEDRIVER_MEMO_ICON              DATA_FILE "SampleMemoIcon.ico"
IDR_WPD_SAMPLEDRIVER_MEMO_FOLDER_ICON       DATA_FILE "SampleMemoFolderIcon.ico"

1 TYPELIB "WpdWudfSampleDriver.tlb"

IDR_WpdWudfSampleDriver REGISTRY "WpdWudfSampleDriver.rgs"


