#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Filter Driver for the Firefly Device (Framework Version)"
#define VER_INTERNALNAME_STR        "firefly.sys"
#define VER_ORIGINALFILENAME_STR    "firefly.sys"

#include "common.ver"

FireflyWMI MOFDATA Firefly.bmf

