#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    			VFT_APP
#define VER_FILESUBTYPE 			VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Registry Filter Test App"
#define VER_INTERNALNAME_STR        "regctrl.exe"
#define VER_ORIGINALFILENAME_STR    "regctrl.exe"

#include "common.ver"