//---------------------------------------------------------------------------
// OsrUsbFilter.rc
//
// Copyright (c) Microsoft Corporation, All Rights Reserved
//---------------------------------------------------------------------------


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WDF:UMDF OsrUsbFilter User-Mode Driver Sample"
#define VER_INTERNALNAME_STR        "OsrUsbFilter"
#define VER_ORIGINALFILENAME_STR    "OsrUsbFilter.dll"

#include "common.ver"
